<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.css') }}">`

    </head>


    <body>
        <div class="container">
            <div class="row" style="width:800px; margin:0 auto;">
                <div class="col-lg-8  offset-lg-2">
                    <h2 class="mt-5">{{ "Sign Language Recognition App" }}</h2>
                    
					<button id="camBtn" class="btn btn-success" name="stop">Start</button>
                    <button id="recBtn" disabled='' class="btn btn-success"name="rec">Start Recording</button>
                    <div id="videoDiv">
                        <img id="videoPlaceholder" src="{{ url_for('static', filename='images/videoplaceholder.jpg') }}"/ width="640" height="480">
                        <video autoplay playsinline id="videoElement" width="640" height="480" display="none"></video>
                        <video autoplay playsinline id="videoRecordElement" width="640" height="480" display="none"></video>
                    </div>
                    <canvas id="canvas"  width="640" height="480"></canvas>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/jquery-3.6.0.js') }}"></script>        
        <script src="{{ url_for('static', filename='scripts/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </body>
</html>
